body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: yellowgreen;
}

.container {
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2874F0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0b5ed7;
}

#about {
    display: none;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
}
